{% extends "configUp/base.html" %}
{% block title %}
		<title>UoS³ Telecommand Server</title>
{% endblock title %}
{% block content %}
		<h1>You are looking at the Telecommand Server of the UoS³ Project</h1>
		<form action="/configUp" method="get">
    <input type="submit" value="Create New Configuration"/>
		</form>
		<form action="/listConfigs" method="get">
    <input type="submit" value="View All Unsent Configurations"/>
		</form>
		<form action="/listConfigsSent" method="get">
    <input type="submit" value="View All Sent Configurations"/>
		</form>
{% endblock content %}
