{% extends "configUp/base.html" %}
{% block title %}
		<title>UoS³ Telecommand Configuration List</title>
{% endblock title %}
{% block content %}
		<h1>List of Unsent Configurations</h1>
    <table cellspacing="10000">
      <tr><th><label for="date_sub">Date Submitted to Server:</label></th>
      <th><label for="user_sub">Submitted by:</label></th></tr>
      {% for config in object_list %}
        {% if config.confirmed_uplink == False %}
            <tr><td><label for="date_submitted">{{ config.date_submitted }}</label></td>
            <td><label for="user_submitted">{{ config.user_submitted }}</label></td>
            <td class="click"><a href="configDet/{{config.pk}}">Select</a></td>
						<td class="click"><a href="configModDet/{{config.pk}}">Modify</a></td>
						<td class="click"><a href="configSend/{{config.pk}}">Send</a></td>
            </tr>
        {% endif %}
      {% endfor %}
    </table>
    <form action="/" method="get">
    <input type="submit" value="Go Back to Main Page"/>
  	</form>
{% endblock content %}
