{% extends "configUp/base.html" %}
{% block title %}
		<title>UoS³ Telecommand Configuration Detail</title>
{% endblock title %}
{% block content %}
		<script type="text/javascript">
		function delFunction(){
			{% with form=False %}
			{% endwith %}
			echo {{form}};
		}
		</script>
		<h1>Details of Selected Configuration</h1>
		<form method="post">
			{% csrf_token %}
				<fieldset>
					<table>
			 {{ form }}
			 </table>
		 </fieldset>
			<input type="submit" value="Save Changes"/>
		</form>
		<form method="post" onsubmit="return delFunction();">
			{% csrf_token %}
			<input type="submit" value="Delete this Configuration"/>
		</form>
    <form action="/listConfigs" method="get">
    <input type="submit" value="Go back to list"/>
		</form>
{% endblock content %}
