{% extends "configUp/base.html" %}
{% block title %}
		<title>Summary Page for Configuration Detail</title>
{% endblock title %}
{% block content %}
		<h1>Confirmation for Sending Commands</h1>
		<script>
		function Confirmation(form) {
  		var ask = window.confirm("Are you sure you want to send the Configuration?");
  		if (ask){
				window.alert("This configuration was successfully sent");
				form.submit();
			}
		}
		</script>
		<form method ="post">
			{% csrf_token %}
				<fieldset>
					<table>
			 {{ form }}
			 </table>
		 </fieldset>
		 <input type="submit" value="Send Data" onclick="Confirmation(this.form)"/>
		</form>
    <form action="/listConfigs" method="get">
    <input type="submit" value="Go back to list"/>
		</form>
{% endblock content %}
